*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left bottom, rgb(255, 101, 242), rgb(255, 186, 88));
}
#screen{
    width: 300px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.35);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 32px;
    padding: 15px;
}
#container{
    display: grid;
    grid-template-columns: 71.25px 71.25px 71.25px 71.25px;
    justify-content: center;
    gap: 5px;
}
#container .button{
    width: 71.25px;
    height: 71.25px;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
}
#container .button:last-child{ 
    grid-column-start: 2;
}